dev/
models/dev/
models/tmp/
models/complex_attractor_model/
inferred_model/
inferred_model_archive/
data/attractor_group/calculated_attractor/BT474 Breast Cell Line Long-term ErbB Network_24970389_attractors.csv