nbsphinx
nbsphinx-link
matplotlib
pandas
numpy
scipy
scikit-learn
tslearn
fastcluster
tqdm
maboss
boolsim
mpbn
seaborn
pyboolnet@git+https://github.com/hklarner/pyboolnet@3.0.16
pystablemotifs@git+https://github.com/sysbio-curie/pystablemotifs@masterpandas
ipython
sphinx_rtd_theme